.container {

    justify-content: center;
    align-items: center;
    height: 100px;
    position: relative;
}

.calender {
    padding: 20px;
    border: 2px solid gray;
    cursor: pointer;
}

.dateRange {
    margin-top: 20px;
    margin-bottom: 30px;
    top: 120px;
}